* {
  margin: 0;
  padding: 0;
}
body.mini {
  padding: 10%;
}
body.mini #result li {
  width: 20%;
  height: 33.333%;
  float: left;
  list-style: decimal;
  text-align: center;
}
body.stack #result {
  width: 70%;
  height: 70%;
}
body.stack #result li {
  position: absolute;
  top: 15%;
  left: 15%;
}
body #result {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}
body #result li {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
body #my_camera {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body #my_camera.on {
  display: block;
}
body #searchForm {
  position: absolute;
  top: 0;
}
