* {
  margin: 0;
  padding: 0;
}
body {
  /*background: royalblue;*/
  height: 100%;
  width: 100%;
}
body p {
  width: 140px;
  float: left;
  height: 140px;
  text-align: center;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid salmon;
}
body p .pic {
  width: 100%;
}
body p .code {
  width: 20px;
  height: 120px;
  background: white;
  display: block;
  position: relative;
  left: 140px;
  top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#shortcut p {
  height: 46.666666666666664px;
  font-size: 18px;
  padding-right: 50px;
}
#shortcut .code {
  width: 100%;
  left: 0;
  top: 0;
}
.sheet {
  width: 100%;
  height: 100%;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  body {
    width: 297mm;
  }
}
