* {
  margin: 0;
  padding: 0;
}
body {
  background: royalblue;
  height: 100%;
  width: 100%;
}
body p {
  width: 140px;
  float: left;
  height: 140px;
  text-align: center;
  margin-right: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body p .pic {
  width: 100%;
}
body p .code {
  width: 20px;
  height: 120px;
  background: white;
  display: block;
  position: relative;
  left: 140px;
  top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.sheet {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #4169e1, #fa8072);
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  body {
    width: 841mm;
    height: 1189mm;
  }
}
