* {
  margin: 0;
  padding: 0;
}
body p {
  width: 140px;
  float: left;
  height: 140px;
  text-align: center;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body p .pic {
  width: 100%;
}
body p .code {
  width: 15px;
  background: white;
  display: block;
  position: relative;
  left: 140px;
  top: 30px;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
