* {
  margin: 0;
  padding: 0;
}
body p {
  width: 120px;
  float: left;
  height: 150px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body p .pic {
  width: 100%;
}
body p .code {
  margin-top: 95px;
  padding: 0 8px 0 8px;
  background: white;
}
