* {
  margin: 0;
  padding: 0;
}
body {
  /*background: royalblue;*/
  height: 100%;
  width: 100%;
}
body p {
  width: 140px;
  height: 140px;
  margin-right: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid blue;
  display: inline-block;
}
body p .pic {
  width: 100%;
}
body p .code {
  width: 30px;
  height: 140px;
  background: white;
  display: block;
  position: relative;
  left: 140px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
#sepa {
  page-break-after: always;
  width: 100%;
  height: 10%;
  background-color: red;
}
#shortcut p {
  height: 46.666666666666664px;
  font-size: 18px;
  padding-right: 50px;
}
#shortcut .code {
  width: 100%;
  left: 0;
  top: 0;
}
.sheet {
  width: 100%;
  height: 100%;
}
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  body {
    width: 297mm;
  }
}
