* {
  margin:0;
  padding:0;
}
body {
  p {
    width:130px;
    float:left;
    height:150px;
    text-align:center;
    
    .pic {width:100%;}
    .code {
      margin-top:122px;
      padding:0 8px 0 8px;
      background:white;
    }
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
  }
}